.selectionBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.selectionBarsBox {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.selectionBar {
  flex-grow: 1;
  height: 6px;
  border-radius: 20px;
  margin: 0 5px;
}

.selectionBar_passed {
  flex-grow: 1;
  height: 6px;
  border-radius: 20px;
  margin: 0 5px;
  background: linear-gradient(
    180deg,
    #a0fafa 0%,
    #35c8f7 16.67%,
    #07b9f1 43.23%,
    #5589d6 94.27%,
    #5d9cca 100%
  );
}

.selectionBar_active {
  flex-grow: 1;
  height: 6px;
  border-radius: 20px;
  margin: 0 5px;
  background: linear-gradient(
    180deg,
    #a0fafa 0%,
    #35c8f7 16.67%,
    #07b9f1 43.23%,
    #5589d6 94.27%,
    #5d9cca 100%
  );
  box-shadow: 0 0 10px #92d5f1;
}

.selectionBar_inactive {
  flex-grow: 1;
  height: 6px;
  border-radius: 20px;
  margin: 0 5px;
  background: linear-gradient(#92d5f103, #92d5f11a);
}

.selectionBarCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 50px;
  border-width: 0px 1px 1px 0.1px;
  border-radius: 40px;
  border-style: solid;
  border-color: #92d5f1;
}

.selectionBarFirstCount {
  font-size: 1.5rem;
  background: linear-gradient(#ffffff, #a3e4ff);
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 10px #92d5f1;
}

.selectionBarSecondCount {
  font-size: 1rem;
  color: #5377a3;
}
